@import "@/styles/variables";

.container {
  display: flex;
  align-items: center;
  gap: 64px;
}

.text {
  font-size: clamp(16px, 2.3vw, 24px);
  color: #b7d4fa;
  text-wrap: nowrap;
}

.image {
  height: 24px;
  width: 24px;
}
