@import "@/styles/variables";
@import "@/styles/mixins";

.container {
    display: flex;
    align-items: center;
    gap: 52px;

    @include mobile-bp() {
        gap: 14px;
    }

    @include tablet-bp() {
        gap: 14px;
    }
}

.text {
    font-size: clamp(16px, 2.3vw, 24px);
}

.image {
    @include mobile-bp() {
        height: 20px;
        width: 20px;
    }
}