@import "./variables.scss";

@mixin on-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin content-padding {
  --content-padding-inline: 16px;

  padding-inline: var(--content-padding-inline);

  @include on-tablet {
    --content-padding-inline: 24px;
  }

  @include on-desktop {
    --content-padding-inline: 32px;
  }
}
