// fonts
$main-font: 'Lufga regular', sans-serif;
$main-font-semi-bold: 'Lufga medium', sans-serif;
$button-font-size: 18px;

// colors
$background-alternative-grey: #EAEAEA;
$dark-grey: #D9D9D9;
$placeholder-color: #5F698A;
$active-border: #1480ff;
$navy-blue: #1C233D80;
$midnight-blue: #111833;

// sizes
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

// border
$line-width: 2px;
$md-border-radius: 24px;
$lg-border-radius: 32px;

// other
$effect-duration: 0.3s;