// fonts
$main-font: 'Lufga regular', sans-serif;
$main-font-semi-bold: 'Lufga medium', sans-serif;
$button-font-size: 18px;

// colors
$background-alternative-grey: #EAEAEA;
$dark-grey: #D9D9D9;
$placeholder-color: #828282;
$active-border: #1480ff;
$navy-blue: #1C233D80;
$midnight-blue: #111833;

// other
$main-delay: 0.3s;
$main-border-radius: 32px;