@import "@/styles/variables";
@import "@/styles/mixins";

.button {
    all: unset;
    font-size: $button-font-size;
    font-family: $main-font-semi-bold;
    background-color: $background-alternative-grey;
    padding: 20px 64px;
    border-radius: $main-border-radius;
    cursor: pointer;
    transition: background-color $main-delay ease-out;

    &:hover,
    &:focus {
        background-color: $dark-grey;
    }
}

.large {
    padding: 20px 144px;

    @include mobile-bp() {
        padding: 20px 109px;
    }
}