@import "@/styles/variables";
@import "@/styles/mixins";

.button {
    width: 100%;
    padding: 20px 24px;

    z-index: 90;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #152BD5;
    border-radius: $main-border-radius;
    cursor: pointer;

    background: linear-gradient(100.42deg, #1480FF 6.96%, #121AD8 118.62%);
    color: white;

    font-size: $button-font-size;
    font-family: $main-font-semi-bold;
    font-size: 18px;

    transition: transform 0.3s;

    &:active {
        transform: scale(0.95);
    }
}