@import "/src/styles/variables.scss";
@import "@/styles/mixins";

.container {
  position: relative;

  width: 100%;
  height: 180px;

  border-radius: 16px;
  padding: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include on-tablet {
    height: 100%;
    border-radius: $lg-border-radius;
  }


}


.service_card {
  width: 100%;
  height: 100%;
  padding: 16px;

  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 16px;


  background: #080e24;
  cursor: pointer;

  border: none;

  @include on-tablet {
    height: 100%;
    border-radius: $lg-border-radius;
  }


}

.title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  width: 60%;
  text-align: start;

  @include on-desktop {
    font-size: 24px;
  }

}

