@import "/src/styles/variables.scss";
@import "@/styles/mixins";


.service_card {
  width: 100%;
  height: 180px;
  padding: 16px;

  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  border: $line-width solid $midnight-blue;

  background: #080e24;
  cursor: pointer;

  @include on-tablet {
    height: 100%;
    border-radius: $lg-border-radius;
  }

  &:hover {
    box-shadow: 4px 4px 10px 0px #668bc10d inset;

    border-color: $active-border;
    background: linear-gradient(180deg, #111c42 0%, #152264 100%);
  }
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  width: 60%;
  text-align: start;

  @include on-desktop {
    font-size: 24px;
  }

}
