@import "@/styles/variables";
@import "@/styles/mixins";

.main {
  display: flex;
  flex-direction: column;

  background: #030514;
}

.header {
  height: 230vh;

  &_Content {
    position: fixed;
    height: 100vh;
    left: 0; 
    right: 0;
    transform-origin: center bottom;
    transition: transform $effect-duration ease, opacity $effect-duration ease;
  }

  &_Background {
    position: absolute;
    inset: 0;

    border: $line-width solid $active-border;

    background: linear-gradient(0deg, #022055, #022055),
      linear-gradient(87.37deg, #080e2c 2.19%, #111944 97.95%),
      linear-gradient(88.74deg, #0a1141 6.11%, #032764 99.15%);
  }

  &_Grid {
    position: absolute;
    background-image: url(./libs/images/firstSectionBG.png);

    & > div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw !important;
      height: 100vh !important;
    }

    canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw !important;
      height: 100vh !important;
    }
  }

  &_BGCircle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 57%);
    background: black;
    border-radius: 50%;
    aspect-ratio: 1 / 1;

    border: $line-width solid $active-border;
  }

  &_ContentInner {
    @include content-padding;

    padding-top: 34px;
    position: absolute;
    inset: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;

    @include on-tablet {
      padding-top: 33px;
    }

    @include on-desktop {
      padding-top: 32px;
    }
  }

  &_Left {
    max-width: 320px;

    @include on-tablet {
      min-width: 536px;
    }

    @include on-desktop {
      max-width: 50vw;
    }
  }

  &_Logo {
    height: 3.6vh;
    object-fit: contain;
    object-position: left;

    @include on-desktop {
      height: 4vh;
    }
  }

  &_Title {
    margin-top: 95px;
    display: flex;
    flex-direction: column;

    color: white;
    font-family: $main-font-semi-bold;
    font-size: 36px;

    @include on-tablet {
      margin-top: 76px;
      font-size: 44px;
    }

    @include on-desktop {
      margin-top: 18.5vh;
      font-size: 3.75vw;
    }
  }

  &_DigitalSolutions {
    color: $active-border;
  }

  &_Description {
    margin-top: 18px;
    font-family: $main-font;
    font-size: 16px;
    color: white;

    @include on-tablet {
      max-width: 413px;
      margin-top: 20px;
    }

    @include on-desktop {
      margin-top: 3.26vh;
      max-width: 38.8vw;
      font-size: 1.4vw;
    }
  }

}

.container {
  z-index: 5;
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 550px;
  margin: 0 auto;
}

.carrouselWrapper {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @include on-tablet {
    margin-top: 120px;
  }

  @include on-desktop {
    margin-top: 200px;
    gap: 64px;
  }

  &_Title {
    @include content-padding;

    z-index: 5;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-align: center;

    @include on-tablet {
      font-size: 32px;
    }

    @include on-desktop {
      font-size: 40px;
    }
  }
}
