@import "@/styles/variables";
@import "@/styles/mixins";

.main {
  display: flex;
  flex-direction: column;

  background: #030514;
}

.header {
  height: 230vh;

  &_Content {
    position: fixed;
    height: 100vh;
    left: 0; 
    right: 0;
    transform-origin: center bottom;
    transition: transform $effect-duration ease, opacity $effect-duration ease;
  }

  &_Background {
    position: absolute;
    inset: 0;

    border: $line-width solid $active-border;

    background: linear-gradient(0deg, #022055, #022055),
      linear-gradient(87.37deg, #080e2c 2.19%, #111944 97.95%),
      linear-gradient(88.74deg, #0a1141 6.11%, #032764 99.15%);
  }

  &_Grid {
    position: absolute;
    background-image: url(./libs/images/firstSectionBG.png);

    & > div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw !important;
      height: 100vh !important;
    }

    canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw !important;
      height: 100vh !important;
    }
  }

  &_BGCircle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 57%);
    background: black;
    border-radius: 50%;
    aspect-ratio: 1 / 1;

    border: $line-width solid $active-border;
  }

  &_ContentInner {
    @include content-padding;

    padding-top: 34px;
    position: absolute;
    inset: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;

    @include on-tablet {
      padding-top: 33px;
    }

    @include on-desktop {
      padding-top: 32px;
    }
  }

  &_Left {
    max-width: 320px;

    @include on-tablet {
      min-width: 536px;
    }

    @include on-desktop {
      max-width: 50vw;
    }
  }

  &_Logo {
    height: 3.6vh;
    object-fit: contain;
    object-position: left;

    @include on-desktop {
      height: 4vh;
    }
  }

  &_Title {
    margin-top: 95px;
    display: flex;
    flex-direction: column;

    color: white;
    font-family: $main-font-semi-bold;
    font-size: 36px;

    @include on-tablet {
      margin-top: 76px;
      font-size: 44px;
    }

    @include on-desktop {
      margin-top: 18.5vh;
      font-size: 3.75vw;
    }
  }

  &_DigitalSolutions {
    color: $active-border;
  }

  &_Description {
    margin-top: 18px;
    font-family: $main-font;
    font-size: 16px;
    color: white;

    @include on-tablet {
      max-width: 413px;
      margin-top: 20px;
    }

    @include on-desktop {
      margin-top: 3.26vh;
      max-width: 38.8vw;
      font-size: 1.4vw;
    }
  }

  &_Right {
    display: none;

    @include on-desktop {
      width: 23vw;

      display: flex;
      flex-direction: column;
      gap: 8px;

      & > :first-child {
        height: 54vh;

        background: white;
        border: none;
      }

      & > :last-child {
        display: flex;
        justify-content: space-between;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  &_CaseStudies {
    display: flex;
    flex-direction: column;

    &_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: black;

      p {
        font-family: $main-font-semi-bold;
      }
    }

    &_main {
      margin-top: 44px;
      position: relative;
      width: 100%;
      height: 100%;

      & > :first-child {
        position: absolute;
        background: #d9d9d9;
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }

      & > :nth-child(2) {
        position: absolute;
        background: #e5e5e5;
        width: 100%;
        height: 80%;
        top: 20%;
        border-radius: 12px;
      }
      & > :last-child {
        position: absolute;
        background: #eeecec;
        width: 100%;
        height: 60%;
        top: 40%;
        border-radius: 12px;
      }
    }

    &_footer {
      margin-top: 17px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        margin-right: auto;
        color: black;
        font-family: "Lufga", sans-serif;
        font-weight: 300;
      }
    }
  }

  & &_Button {
    display: flex;
    justify-content: space-between;

    border: none;
    background: #d7e8ff;
    color: black;
  }
}

.container {
  z-index: 5;
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 550px;
  margin: 0 auto;
}

.carrouselWrapper {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @include on-tablet {
    margin-top: 120px;
  }

  @include on-desktop {
    margin-top: 200px;
    gap: 64px;
  }

  &_Title {
    @include content-padding;

    z-index: 5;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-align: center;

    @include on-tablet {
      font-size: 32px;
    }

    @include on-desktop {
      font-size: 40px;
    }
  }
}
