@import "@/styles/variables";
@import "@/styles/mixins";


.container {
  width: 100%;

  position: relative;

  .title {
    margin-bottom: 32px;

    font-size: 40px;
    color: white;
  }

  .card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0 32px;

    width: 100%;

    height: 680px;

    padding: 32px;

    background: #fff;
    border-radius: 32px;

    transform-origin: top;

    &Container {
      height: 100vh;
      width: 100%;

      position: sticky;
      top: 32px;

      display: flex;
      justify-content: center;

    }

    &MainInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cardSubTitle {
        margin-bottom: 8px;
      }
    }

    &Number {
      font-size: 18px;
      margin-bottom: 12px;

    }

    &Title {
      margin-bottom: 12px;
      font-size: 40px;

    }

    &SubTitle {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 24px;

    }

    &Image {
      max-width: 413px;
      width: 100%;

      aspect-ratio: 4/3;

      border-radius: 12px;
      object-fit: cover;


    }

    &Achievements {

    }

    &List {
      display: flex;
      flex-direction: column;
      gap: 20px;


      &Item {
        display: grid;
        grid-template-columns: 10px 1fr;
        gap: 16px;
        align-items: center;
      }

      &Marker {
        width: 10px;
        height: 10px;
        background: linear-gradient(272.03deg, #45588C 3.07%, #182956 80.01%);
        border-radius: 50%;
      }
    }

  }

}

@include on-phone {
  .container{
    padding: 0 16px;
    margin: 100px 0;
  }
}

@include on-tablet {
  .container{
    padding: 0 24px;
    margin: 120px 0;
  }
}

@include on-desktop {
  .container{
    padding: 0 32px;
    margin: 200px 0;
  }
}








